<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="./lib/vue.js"></script>
    <script src="./lib/vue-resource-1.3.4.js"></script>

    <link rel="stylesheet" href="./lib/bootstrap.css">
    

</head>
<body>

    <div id="app">  
        
        
        <div class="panel panel-primary">
              <div class="panel-heading">
                    <h3 class="panel-title">添加品牌</h3>
              </div>
              <div class="panel-body form-inline">
                    <!-- <label>
                        ID:
                        <input type="text" v-model="id">
                    </label> -->

                    <label>
                            Name:
                            <input type="text" v-model="name" class="form-control">
                    </label>

                    <input type="button" value="添加" @click="add" class="btn btn-primary"> 
              </div>
        </div>
        

        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Ctime</th>
                    <th>Operation</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in list" :key="item.id">
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.ctime }}</td>
                    <td>
                        <a href="" @click.prevent="del(item.id)">删除</a>
                    </td>
                </tr>
            </tbody>
        </table>
        
    </div>

    <script>

        // 如果我们通过全局配置了，请求的数据接口 根域名，则，在每次单独发起http 请求的时候，
        // 请求的 url 路径，应该以 相对路径开头，前面不能 带 /  ，否则 不会启用根路径做拼接;
        Vue.http.options.root = 'http://kerys.pythonanywhere.com/'

        // 全局启用 emulateJSON选项
        Vue.http.options.emulateJSON = true

        var vm = new Vue({
            el:'#app',
            data:{
                name : '',
                list:[  //存放所有品牌列表的数组
                    { id:1, name: '五菱宏光' ,ctime:new Date() },
                    { id:2, name: '众泰' ,ctime:new Date() }
                ]
            },


            craeted(){// 当VM 实例的 data 和 methods 初始化完毕后，VM实例会自动执行created这个
            // 生命周期函数

                this.getAllList()
                
            },


            methods:{
                

                // 获取所有品牌列表
                getAllList(){
                    // 分析
                    // 1. 由于已经导入了 vue-resource,所有可以直接通过 this.$http来发起数据请求
                    // 2. 根据接口API文档，知道，获取列表的时候，应该发起一个get 请求
                    // 3. this.$http.get('url').then(function(result){})
                    // 4. 当通过 then 指定回调函数后，在回调函数中，可以拿到数据服务器返回的 result
                    // 5. 先判断 result.status 是否为0 ，为0 成功，就可以把 result.message 赋值给 this.list,
                    // 如果不等于0 ，可以弹框提示，获取数据失败

                    this.$http.get('api/getprodlist/').then(result=>{
                        
                        // 注意： 通过$http 获取到的数据，都在result.body 中放着
                        var result = result.body

                        if(result.status===0){
                            // 成功了
                            this.list = result.message
                        }else{
                            alert('获取列表失败！！！')
                        }
                    })
                },


                // 添加品牌列表到服务器
                // 分析：
                // 1. 通过查看 数据API 接口，要发送一个POST 请求， this.$http.post
                // 2. this.$http.post()中接收三个参数：
                //    2.1 第一个参数： 要请求的URL地址
                //    2.2 第二个参数： 要提交给服务器的数据，要以对象形式提交给服务器{name:this.name}
                //    2.3 第三个参数: 是一个配置对象，要以哪种表单数据类型提交过去，{ emulateJSON:true}，以表单的数据格式，将服务器提交给服务器
                // 3. 在post 方法中，使用 .then来设置成功的回调函数，如果想要拿到成功的结果，需要 result.body

                add(){
                    this.$http.post('api/addprod/',{name:this.name})
                    .then(result => {
                        if(result.body.status === 0){
                            // 成功了
                            // 添加完成后，只需要手动再调用一下getAllList,就能刷新了
                            this.getAllList()
                            this.name = ''
                        }else{
                            // 失败了
                            alert('失败了！！！')
                        }
                    })
                },
                del(id){  //删除品牌
                    this.$http.get('api/delprod/' + id).thne(result=>{
                        if(result.body.status === 0){
                            // 删除成功
                            this.getAllList()
                        }else{
                            alert
                        }
                    })

                }
                

            }
        })
    </script>
</body>
</html>